<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onde Encontrar - Setorial Irrigações</title>

    <link href="../assets/css/pages/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="menu-container"></div>

    <script>
        fetch('/menu.html') // Caminho para o arquivo menu.html
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Erro ao carregar o menu: ${response.statusText}`);
                }
                return response.text();
            })
            .then(html => {
                document.getElementById('menu-container').innerHTML = html;
            })
            .catch(error => {
                console.error('Erro ao carregar o menu:', error);
            });
    </script>


    <section id="onde-encontrar" class="onde-encontrar">
        <!-- Texto à esquerda -->
        <div class="texto-descricao col-md-6">
            <h2>Onde Encontrar</h2>
            <p>Estamos presentes em várias regiões do país para oferecer suporte e atender às suas necessidades de
                maneira ágil e eficiente. Nosso compromisso é garantir que você tenha acesso a informações e serviços de
                qualidade, independentemente de onde estiver.
                <br>
                <br>
                No mapa interativo abaixo, você pode visualizar todos os nossos representantes. Basta clicar nos
                marcadores para acessar os detalhes de contato, como telefone e localização. Assim, fica mais
                fácil encontrar o representante mais próximo e tirar suas dúvidas ou solicitar atendimento
                personalizado.
            </p>
            <a class="col-md-5 btnPrimary" href="https://wa.me/19999168084" target="_blank">Peças de Reposição</a>
        </div>

        <!-- Mapa à direita -->
        <div id="mapaRepresentante" class="mapaRepresentante col-md-6"></div>
    </section>

    <section class="todoBrasil">

    </section>

    <script src="../assets/js/menu.js"></script>
    <script src="../assets/js/home.js"></script>
    <script src="../assets/js/ondeEncontrar.js"></script>

    <footer>
        <p>© Setorial Sistemas de Irrigação</p>
    </footer>
</body>

</html>