* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  line-height: auto;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: inherit;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--cor-branco);
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--cor-branco);
}

section {
  width: 100vw;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none !important;
}

.btnPrimary {
  text-align: center;
  text-decoration: none;
  background-color: var(--cor-verde);
  box-shadow: 0 0 4px -5px var(--cor-branco);
  color: var(--cor-branco);
  border-radius: 7px;
  padding: 10px 35px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnPrimary:hover {
  color: var(--cor-branco);
  background-color: var(--cor-verde-escuro);
  text-decoration: none;
}

.btnSecondary {
  background-color: transparent;
  color: var(--cor-branco);
  font-size: 14px;
}

.btnSecondary:focus {
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

.btnThird {
  background-color: transparent;
  color: var(--cor-branco);
  border: 2px solid var(--cor-branco);
  border-radius: 7px;
  padding: 10px 55px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnThird:hover {
  background-color: var(--cor-branco);
  color: var(--cor-verde-escuro);
  transition: .3s;
  text-decoration: none;
}

.botao-whatsapp-flutuante {
  position: fixed;
  right: 10px;
  bottom: 2%;
}

.botao-whatsapp-flutuante img {
  width: 50px;
}


@media (min-width: 320px) and (max-width: 768px) {
  .btnPrimary {
    border-radius: 7px;
    padding: 10px 10px;
    font-size: 12px;
  }

  .btnThird {
    border-radius: 7px;
    padding: 10px 54px;
    font-size: 12px;
  }
}