<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - Setorial Irrigações</title>

    <link href="../../../assets/css/pages/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <header id="menu" class="col-md-12 d-none d-sm-none d-md-flex">
        <div class="left col-md-9">
            <img id="logotipo" src="../../files/images/LOGOV.png" alt="Logotipo - Setorial Irrigações">
            <div class="opcoes-menu">
                <ul class="menu-list">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a class="secaoQuemSomos" href="../../index.html">Quem Somos</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">Produtos</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Aspersores</a>
                                <ul class="dropdown-menu">
                                    <li><a href="../produtos/gemini.html">Gemini</a></li>
                                    <li><a href="../produtos/mariner.html">Mariner</a></li>
                                    <li><a href="../produtos/mercury.html">Mercury</a></li>
                                    <li><a href="../produtos/skipper.html">Skipper</a></li>
                                    <li><a href="../produtos/setorialV.html">Setorial V</a></li>
                                    <li><a href="../produtos/explorer.html">Explorer</a></li>
                                    <li><a href="../produtos/reflex.html">Reflex</a></li>
                                    <li><a href="../produtos/wing.html">Wing</a></li>
                                    <li><a href="../produtos/synkro.html">Sinkro</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Carretéis</a>
                                <ul class="dropdown-menu">
                                    <li><a href="../produtos/hr63.html">HR 63</a></li>
                                    <li><a href="../produtos/hr75.html">HR 75</a></li>
                                    <li><a href="../produtos/hr90.html">HR 90</a></li>
                                    <li><a href="../produtos/hr110.html">HR 110</a></li>
                                    <li><a href="../produtos/hrg4125.html">HR G4 125</a></li>
                                    <li><a href="../produtos/hrg4140.html">HR G4 140</a></li>
                                    <li><a href="../produtos/hrg5160.html">HR G5 160</a></li>
                                    <li><a href="../produtos/hrSobreJulieta.html">HR sobre Julieta</a></li>
                                    <li><a href="../produtos/hrMonobloco.html">Montagem HR Monobloco</a></li>
                                    <li><a href="../produtos/barraIrrigadora.html">Barra Irrigadora</a></li>
                                </ul>
                            </li>
                            <li><a href="../produtos/motobomba.html">Motobombas</a></li>
                            <li><a href="../produtos/tubos.html">Tubo PEMD</a></li>
                            <li><a href="../produtos/utm.html">UTM</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Outros Produtos</a>
                                <ul class="dropdown-menu">
                                    <li><a href="../produtos/balsa.html">Balsa para Eletrobomba</a></li>
                                    <li><a href="../produtos/CarretasTubo.html">Carretas de Tubo</a></li>
                                    <li><a href="../produtos/carretaTransformador.html">Carreta Transformador</a></li>
                                    <li><a href="../produtos/recolhimentoHidraulico.html">Recolhimento Hidráulico</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </div>
        </div>

        <div class="right col-md-3">
            <a href="#contato" class="col-md-10 btnPrimary">Contato</a>
        </div>
    </header>

    <div class="menuMobile d-flex d-sm-flex d-md-none">
    </div>

    <section class="produto">
        <div class="cabecalho">
            <img src="../../../files/images/produtos/recolhimento-hidraulico.webp">
            <div class="descricao">
                <h2>Recolhimento Hidráulico</h2>
                <p>Balsa para Eletrobomba Flutuante, construída em chapa 2,65 mm de espessura para instalação de ate 3 motores elétricos, toda galvanizada para evitar ferrugem.
                </p>
            </div>
        </div>
    </section>

    <div class="botao-whatsapp-flutuante">
        <a href="#" target="_blank">
            <img src="../../../files/images/whatsapp.png" alt="Botão de Whatsapp">
        </a>
    </div>
</body>

</html>