<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - Setorial Irrigações</title>

    <link href="../../assets/css/pages/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <header id="menu" class="col-md-12 d-sm-none d-md-flex">
        <div class="left col-md-9">
            <img id="logotipo" src="../../files/images/LOGO.png" alt="Logotipo - Setorial Irrigações">
            <div class="opcoes-menu">
                <ul class="menu-list">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a class="secaoQuemSomos" href="../../index.html#institucional">Quem Somos</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">Produtos</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown">
                                <a href="../aspersores.html" class="dropdown-toggle">Aspersores</a>
                                <ul class="dropdown-menu">
                                    <li><a href="../produtos/gemini.html">Gemini</a></li>
                                    <li><a href="../produtos/mariner.html">Mariner</a></li>
                                    <li><a href="../produtos/mercury.html">Mercury</a></li>
                                    <li><a href="../produtos/skipper.html">Skipper</a></li>
                                    <li><a href="../produtos/setorialV.html">Setorial V</a></li>
                                    <li><a href="../produtos/explorer.html">Explorer</a></li>
                                    <li><a href="../produtos/reflex.html">Reflex</a></li>
                                    <li><a href="../produtos/wing.html">Wing</a></li>
                                    <li><a href="../produtos/synkro.html">Sinkro</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="../carreteis.html" class="dropdown-toggle">Carretéis</a>
                                <ul class="dropdown-menu">
                                    <li><a href="../produtos/hr63.html">HR 63</a></li>
                                    <li><a href="../produtos/hr75.html">HR 75</a></li>
                                    <li><a href="../produtos/hr90.html">HR 90</a></li>
                                    <li><a href="../produtos/hr110.html">HR 110</a></li>
                                    <li><a href="../produtos/hrg4125.html">HR G4 125</a></li>
                                    <li><a href="../produtos/hrg4140.html">HR G4 140</a></li>
                                    <li><a href="../produtos/hrg5160.html">HR G5 160</a></li>
                                    <li><a href="../produtos/hrSobreJulieta.html">HR sobre Julieta</a></li>
                                    <li><a href="../produtos/hrMonobloco.html">Montagem HR Monobloco</a></li>
                                    <li><a href="../produtos/barraIrrigadora.html">Barra Irrigadora</a></li>
                                </ul>
                            </li>
                            <li><a href="../produtos/motobomba.html">Motobombas</a></li>
                            <li><a href="../produtos/tubos.html">Tubo PEMD</a></li>
                            <li><a href="../produtos/utm.html">UTM</a></li>
                            <li class="dropdown">
                                <a href="../outrosProdutos.html" class="dropdown-toggle">Outros Produtos</a>
                                <ul class="dropdown-menu">
                                    <li><a href="../produtos/balsa.html">Balsa para Eletrobomba</a></li>
                                    <li><a href="../produtos/CarretasTubo.html">Carretas de Tubo</a></li>
                                    <li><a href="../produtos/carretaTransformador.html">Carreta Transformador</a></li>
                                    <li><a href="../produtos/recolhimentoHidraulico.html">Recolhimento Hidráulico</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="../ondeEncontrar.html">Onde Encontrar</a></li>
                </ul>
            </div>
        </div>

        <div class="right col-md-3">
            <a href="#contato" class="col-md-10 btnPrimary">Contato</a>
        </div>

        <div class="menu-mobile">
            <button id="menu-toggle" class="menu-icon d-md-none d-block">☰</button>
            <div id="mobile-menu" class="mobile-menu hidden">
                <button id="close-menu" class="close-icon">✖</button>
                <div class="opcoes-menu">
                    <ul class="menu-list">
                        <li><a href="../../index.html">Home</a></li>
                        <li><a class="secaoQuemSomos" href="../../index.html#institucional">Quem Somos</a></li>
                        <li class="dropdown">
                            <a href="#" id="toggle-products" class="dropdown-toggle">Produtos</a>
                            <ul id="products-list" class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="../../aspersores.html" class="dropdown-toggle">Aspersores</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="partials/produtos/gemini.html">Gemini</a></li>
                                        <li><a href="partials/produtos/mariner.html">Mariner</a></li>
                                        <li><a href="partials/produtos/mercury.html">Mercury</a></li>
                                        <li><a href="partials/produtos/skipper.html">Skipper</a></li>
                                        <li><a href="partials/produtos/setorialV.html">Setorial V</a></li>
                                        <li><a href="partials/produtos/explorer.html">Explorer</a></li>
                                        <li><a href="partials/produtos/reflex.html">Reflex</a></li>
                                        <li><a href="partials/produtos/wing.html">Wing</a></li>
                                        <li><a href="partials/produtos/synkro.html">Sinkro</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="../../carreteis.html" class="dropdown-toggle">Carretéis</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="partials/produtos/hr63.html">HR 63</a></li>
                                        <li><a href="partials/produtos/hr75.html">HR 75</a></li>
                                        <li><a href="partials/produtos/hr90.html">HR 90</a></li>
                                        <li><a href="partials/produtos/hr110.html">HR 110</a></li>
                                        <li><a href="partials/produtos/hrg4125.html">HR G4 125</a></li>
                                        <li><a href="partials/produtos/hrg4140.html">HR G4 140</a></li>
                                        <li><a href="partials/produtos/hrg5160.html">HR G5 160</a></li>
                                        <li><a href="partials/produtos/hrSobreJulieta.html">HR sobre Julieta</a></li>
                                        <li><a href="partials/produtos/hrMonobloco.html">Montagem HR Monobloco</a></li>
                                        <li><a href="partials/produtos/barraIrrigadora.html">Barra Irrigadora</a></li>
                                    </ul>
                                </li>
                                <li><a href="partials/produtos/motobomba.html">Motobombas</a></li>
                                <li><a href="partials/produtos/tubos.html">Tubo PEMD</a></li>
                                <li><a href="partials/produtos/utm.html">UTM</a></li>
                                <li class="dropdown">
                                    <a href="../../outrosProdutos.html" class="dropdown-toggle">Outros Produtos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="partials/produtos/balsa.html">Balsa para Eletrobomba</a></li>
                                        <li><a href="partials/produtos/CarretasTubo.html">Carretas de Tubo</a></li>
                                        <li><a href="partials/produtos/carretaTransformador.html">Carreta Transformador</a>
                                        </li>
                                        <li><a href="partials/produtos/recolhimentoHidraulico.html">Recolhimento
                                                Hidráulico</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="partials/ondeEncontrar.html">Onde Encontrar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="produto">
        <div class="cabecalho">
            <img src="../../files/images/produtos/setorial_v.webp">
            <div class="descricao">
                <h2>Setorial V</h2>
                <!-- <hr> -->
                <p>O aspersor SETORIAL V é um aspersor de balancim, com reversão lenta que foi construído com materiais
                    especiais (plástico, inox e alumínio) para resistir a líquidos corrosivos como vinhaça e aguas
                    residuais, garantindo maior durabilidade e menor custo de manutenção.
                </p>
            </div>
        </div>

        <div class="dados">
            <div class="box-dados col-md-12">
                <h3>Dados Técnicos</h3>
                <div class="row" title="Tabela Precipitação HRF 63 Mini - Aspersos Skipper 1.1/2">
                    <div class="col">
                        <div class="card-dados">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="dezesseis-tab" data-toggle="tab" href="#dezesseis"
                                        role="tab" aria-controls="dezesseis" aria-selected="true">16</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="dezoito-tab" data-toggle="tab" href="#dezoito" role="tab"
                                        aria-controls="dezoito" aria-selected="false">18</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="vinte-tab" data-toggle="tab" href="#vinte" role="tab"
                                        aria-controls="vinte" aria-selected="false">20</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="dezesseis" role="tabpanel"
                                    aria-labelledby="dezesseis-tab">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>PRESSÃO NO ASPERSOR (Kgf/cm²)</th>
                                                <th>ESPAÇAMENTO (m)</th>
                                                <th>VAZÃO (m³/h)</th>
                                                <th>LAMINA BRUTA DE ÁGUA APLICADA NA FAIXA IRRIGADA (mm)</th>
                                                <th>VELOC. DE RECOLHIMENTO DA MANGUEIRA m/h</th>
                                                <th>TEMPO DE IRRIGAÇÃO NA FAIXA 150m (horas)</th>
                                                <th>TEMPO DE IRRIGAÇÃO NA FAIXA 180 m (horas)</th>
                                                <th>TEMPO DE IRRIGAÇÃO NA FAIXA 250m (horas)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2,0</td>
                                                <td>42</td>
                                                <td>15</td>
                                                <td>24</td>
                                                <td>15</td>
                                                <td>10:00</td>
                                                <td>12:00</td>
                                                <td>13:20</td>
                                            </tr>
                                            <tr>
                                                <td>2,0</td>
                                                <td>42</td>
                                                <td>15</td>
                                                <td>24</td>
                                                <td>15</td>
                                                <td>10:00</td>
                                                <td>12:00</td>
                                                <td>13:20</td>
                                            </tr>
                                            <tr>
                                                <td>2,0</td>
                                                <td>42</td>
                                                <td>15</td>
                                                <td>24</td>
                                                <td>15</td>
                                                <td>10:00</td>
                                                <td>12:00</td>
                                                <td>13:20</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="dezoito" role="tabpanel" aria-labelledby="dezoito-tab">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>PRESSÃO NO ASPERSOR (Kgf/cm²)</th>
                                                <th>ESPAÇAMENTO (m)</th>
                                                <th>VAZÃO (m³/h)</th>
                                                <th>LAMINA BRUTA DE ÁGUA APLICADA NA FAIXA IRRIGADA (mm)</th>
                                                <th>VELOC. DE RECOLHIMENTO DA MANGUEIRA m/h</th>
                                                <th>TEMPO DE IRRIGAÇÃO NA FAIXA 150m (horas)</th>
                                                <th>TEMPO DE IRRIGAÇÃO NA FAIXA 180 m (horas)</th>
                                                <th>TEMPO DE IRRIGAÇÃO NA FAIXA 250m (horas)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>3,0</td>
                                                <td>42</td>
                                                <td>15</td>
                                                <td>24</td>
                                                <td>15</td>
                                                <td>10:00</td>
                                                <td>12:00</td>
                                                <td>13:20</td>
                                            </tr>
                                            <tr>
                                                <td>3,0</td>
                                                <td>42</td>
                                                <td>15</td>
                                                <td>24</td>
                                                <td>15</td>
                                                <td>10:00</td>
                                                <td>12:00</td>
                                                <td>13:20</td>
                                            </tr>
                                            <tr>
                                                <td>3,0</td>
                                                <td>42</td>
                                                <td>15</td>
                                                <td>24</td>
                                                <td>15</td>
                                                <td>10:00</td>
                                                <td>12:00</td>
                                                <td>13:20</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="vinte" role="tabpanel" aria-labelledby="vinte-tab">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>PRESSÃO NO ASPERSOR (Kgf/cm²)</th>
                                                <th>ESPAÇAMENTO (m)</th>
                                                <th>VAZÃO (m³/h)</th>
                                                <th>LAMINA BRUTA DE ÁGUA APLICADA NA FAIXA IRRIGADA (mm)</th>
                                                <th>VELOC. DE RECOLHIMENTO DA MANGUEIRA m/h</th>
                                                <th>TEMPO DE IRRIGAÇÃO NA FAIXA 150m (horas)</th>
                                                <th>TEMPO DE IRRIGAÇÃO NA FAIXA 180 m (horas)</th>
                                                <th>TEMPO DE IRRIGAÇÃO NA FAIXA 250m (horas)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>4,0</td>
                                                <td>42</td>
                                                <td>15</td>
                                                <td>24</td>
                                                <td>15</td>
                                                <td>10:00</td>
                                                <td>12:00</td>
                                                <td>13:20</td>
                                            </tr>
                                            <tr>
                                                <td>4,0</td>
                                                <td>42</td>
                                                <td>15</td>
                                                <td>24</td>
                                                <td>15</td>
                                                <td>10:00</td>
                                                <td>12:00</td>
                                                <td>13:20</td>
                                            </tr>
                                            <tr>
                                                <td>4,0</td>
                                                <td>42</td>
                                                <td>15</td>
                                                <td>24</td>
                                                <td>15</td>
                                                <td>10:00</td>
                                                <td>12:00</td>
                                                <td>13:20</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>