/* Header */
.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10rem;
    background-color: #d0d0d061;
    z-index: 9999 !important;
    box-shadow: 0 0 14px -5px #000;
    backdrop-filter: blur(20px);
    color: #fff;
    position: fixed !important;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borda sutil */
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.menu .logo img {
    max-height: 100px;
}

.menu-list {
    display: flex;
    list-style: none;
    gap: 5px;
    margin: 0px;
}

.menu-list a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background 0.3s ease;
}

.menu-list a:hover {
    background-color: transparent;
    text-decoration: none;
    color: var(--cor-preto) !important;
    border: none;
}

/* Dropdown */
.dropdown {
    position: relative;
    /* border-radius: 8px; */
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px !important;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 14rem !important;
    top: 100%;
    left: 0;
    /* background-color: rgb(255 255 255 / 32%) !important; */
    background-color: rgba(255, 255, 255, 0.715) !important;
    backdrop-filter: blur(180px);
    -webkit-backdrop-filter: blur(180px);
    list-style: none;
    padding: 10px 0;
    border-radius: 8px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.617) !important;
    backdrop-filter: blur(180px);
    -webkit-backdrop-filter: blur(180px);
}

.dropdown-menu a {
    color: var(--cor-texto-escuro) !important;
    display: block;
}

.dropdown-menu a:hover {
    background-color: transparent;
    text-decoration: none;
    color: var(--cor-texto-escuro) !important;
    border: none;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.715) !important;
    backdrop-filter: blur(180px);
    -webkit-backdrop-filter: blur(180px);
    border-radius: 8px;
    z-index: 9999 !important;
}

/* Submenu */
.dropdown .dropdown-menu .dropdown {
    position: relative;
}

.dropdown .dropdown-menu .dropdown-menu {
    left: 100%;
    top: 0;
}

/* Responsivo */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-list {
        display: none;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.69) !important;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    .menu-list.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
    }
}


#menu {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: absolute !important;
    /* box-shadow: 0 0 8px -4px var(--cor-branco); */
    padding: 20px 10rem 12px 10rem;
    height: 5.5rem;
    position: fixed !important;
    transition: background-color 0.3s ease;
}

#menu.scrolled {
    background-color: rgb(255 255 255 / 32%) !important;
    z-index: 9999 !important;
    box-shadow: 0 0 14px -5px #000;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#logotipo {
    width: 100%;
    max-width: 13rem;
}

.left h1 {
    font-size: 40px;
    color: var(--cor-branco);
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px;
}

.left a {
    color: var(--cor-texto-escuro);
    font-size: 14px;
    letter-spacing: 0.9px;
    font-weight: 500;
}

.opcoes-menu {
    margin: 0 0 0 7.5rem;
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn:focus {
    box-shadow: none;
}

.dropdown-menu.show {
    position: absolute;
    transform: translate3d(0px, 37px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    background-color: var(--cor-verde-escuro);
    z-index: 99999 !important;
}

.dropdown-menu.show .dropdown-item {
    display: block;
    width: 100%;
    max-width: 15rem;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: var(--cor-branco);
    text-align: inherit;
    white-space: nowrap;
    background-color: var(--cor-verde-escuro);
    border: none;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px;
    justify-content: end;
}

.right a {
    text-align: center;
    background-color: var(--cor-verde);
    box-shadow: 0 0 4px -5px var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 7px;
    padding: 10px 35px;
}

@media (min-width: 320px) and (max-width: 768px) {
    
}

@media (min-width: 1024px) and (max-width: 1440px) {
    
}